@font-face {
    font-family: Vazir;
    src: url(./../../../../public/fonts/ttf/Vazir-Medium.ttf);
}

.menu-item {
    color: black;
    text-decoration: none;
    font-family: Vazir;
    margin-left: 3rem;
    position: relative;
    font-size: 1rem;
}

.menu-item::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.menu-item:hover::after {
    width: 100%;
    background: #f5bfcf;
    border-radius: 50%;
}

.menu-item-dropdown{
    margin-right: -2.5rem;
    margin-left: 3rem;
    font-size: 0.7rem;
    color: black;
    background-color: rgb(247, 209, 209);
}

.submenu{
    z-index: 9999;
}

.submenu:hover .sub-menu-list {
    opacity: 1;
    visibility: visible;
}

.sub-menu-list {
    width: 14rem;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    list-style-type: none;
    right: 0;
    top: 2.5rem;
    padding: 1rem;
    box-shadow: 0 1px 2px 1px #f5bfcf;
    transition: all 200ms ease-in;
}

.sub-menu-list > li{
    padding:0.5rem 1rem;
    width: 100%;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.sub-menu-list-item {
    color: black;
    text-decoration: none;
    font-family: Vazir;
    font-size: 1rem;
}

.sub-menu-list > li:hover {
    background-color: #ffd8e4;
    border-radius: 1rem;
}